<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop" xmlns:c="http://www.springframework.org/schema/c" xmlns:cache="http://www.springframework.org/schema/cache" xmlns:context="http://www.springframework.org/schema/context" xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:jee="http://www.springframework.org/schema/jee" xmlns:lang="http://www.springframework.org/schema/lang" xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:p="http://www.springframework.org/schema/p" xmlns:task="http://www.springframework.org/schema/task" xmlns:tx="http://www.springframework.org/schema/tx" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
		http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

	<!--Automatic scanning controller under the package all the classes, make its think they are spring MVC controller
		 自动扫描controller包下的所有类，使其认为spring mvc的控制器 -->
	<context:component-scan base-package="com.camut.controller" />

	<!-- Spring MVC JSON配置 -->
	<bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
		<property name="messageConverters">
			<list>
				<bean id="fastJsonHttpMessageConverter" class="com.camut.utils.FastJsonHttpMessageConverter">
					<property name="supportedMediaTypes">
						<list>
							<value>text/html;charset=UTF-8</value><!-- Avoid download IE a JSON file 避免IE出现下载JSON文件的情况 -->
						</list>
					</property>
				</bean>
			</list>
		</property>
	</bean>

	<!-- Interpretation of the name of the model view, adding suffixes before the model view name. 对模型视图名称的解析，即在模型视图名称添加前后缀 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" p:prefix="/WEB-INF/" p:suffix=".jsp" />
	
		<!-- Interpretation of the name of the model view, adding suffixes before the model view name. 对模型视图名称的解析，即在模型视图名称添加前后缀 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" p:prefix="/WEB-INF/views/" p:suffix=".jsp" /> 
	 
	<bean id="multipartResolver"  class="org.springframework.web.multipart.commons.CommonsMultipartResolver">  
        <!-- set the max upload size100MB -->  
        <property name="maxUploadSize">  
            <value>104857600</value>  
        </property>  
        <property name="maxInMemorySize">  
            <value>4096</value>  
        </property>  
    </bean>  
	
	<!-- interceptor 拦截器 -->
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**" />
			<bean class="com.camut.framework.interceptors.SecurityInterceptor">
				<!-- Do not need to address authentication 不需要权限验证的地址 -->
				<property name="excludeUrls">
					<list>
						<value>/img</value><!--The function menu on the left side of home page  首页左侧功能菜单 -->
						<value>/index/login</value>
						<value>/index/index</value>
						<value>/index/searchlist</value>
						<value>/index/restaurantmenu</value>
						<value>/index/statement</value>
						<value>/index/resetPassword</value>
						<value>/index/checkVerificationCode</value>
						<value>/index/sendResetPasswordVerificationCode</value>
						<value>/index/createAccount</value>
						<value>/index/emailExist</value>
						<value>/index/getDishes</value>
						<value>/index/getOneDish</value>
						<value>/index/testPage</value>
						
					</list>
				</property>
			</bean>
		</mvc:interceptor>
		
		<!-- Consumer authentication required. -->
		<!-- TODO: Whitelist more functions since the crawler needs to be able to access them. -->
		<mvc:interceptor>
			<mvc:mapping path="/consumer/*" />
			<mvc:mapping path="/consumers/*" />
			<mvc:mapping path="/index/*" />
			<mvc:mapping path="/payment/*" />
			<mvc:mapping path="/restaurantMenu/*" />
			<mvc:mapping path="/searchList/*" />
			<mvc:exclude-mapping path="/index/index"/>
			<mvc:exclude-mapping path="/index/regist"/>
			<mvc:exclude-mapping path="/index/login"/>
			<mvc:exclude-mapping path="/index/signOut"/>
			<mvc:exclude-mapping path="/index/emailExist"/>
			<mvc:exclude-mapping path="/index/createAccount"/>
			<mvc:exclude-mapping path="/index/sendResetPasswordVerificationCode"/>
			<mvc:exclude-mapping path="/index/checkVerificationCode"/>
			<mvc:exclude-mapping path="/index/resetPassword"/>
			<bean class="com.camut.framework.interceptors.ConsumerLoginRequiredInterceptor" />
		</mvc:interceptor>
		
		<!-- Restaurant authentication required. -->
		<mvc:interceptor>
			<mvc:mapping path="/discount/*" />
			<mvc:mapping path="/dish/*" />
			<mvc:mapping path="/distancePrice/*" />
			<mvc:mapping path="/garnish/*" />
			<mvc:mapping path="/information/*" />
			<mvc:mapping path="/opentime/*" />
			<mvc:mapping path="/order/*" />
			<mvc:mapping path="/restaurant/*" />
			<mvc:mapping path="/restaurantStatement/*" />
			<mvc:mapping path="/stripe/*" />
			<mvc:mapping path="/table/*" />
			<mvc:exclude-mapping path="/restaurant/login" />
			<mvc:exclude-mapping path="/restaurant/register" />
			<mvc:exclude-mapping path="/restaurant/toRegisterSuccess" />
			<mvc:exclude-mapping path="/restaurant/checkLoginName" />
			<mvc:exclude-mapping path="/restaurant/checkRestaurantName" />
			<mvc:exclude-mapping path="/restaurant/restaurantRegister" />
			<mvc:exclude-mapping path="/restaurant/restaurantLogin" />
			<mvc:exclude-mapping path="/restaurant/resetPassword" />
			<mvc:exclude-mapping path="/restaurant/sendemail" />
			<mvc:exclude-mapping path="/restaurant/verifyTheCode" />
			<mvc:exclude-mapping path="/restaurant/dopasswordreset" />
			<mvc:exclude-mapping path="/restaurant/signOut" />
			<bean class="com.camut.framework.interceptors.RestaurantLoginRequiredInterceptor" />
		</mvc:interceptor>
		
		<!-- Admin authentication required. -->
		<mvc:interceptor>
			<mvc:mapping path="/admin/*" />
			<mvc:mapping path="/adminStatement/*" />
			<mvc:exclude-mapping path="/admin/login"/>
			<mvc:exclude-mapping path="/admin/dologin"/>
			<mvc:exclude-mapping path="/admin/signout"/>
			<mvc:exclude-mapping path="/admin/sendemail"/>
			<mvc:exclude-mapping path="/admin/resetPage"/>
			<mvc:exclude-mapping path="/admin/doresetpassword"/>
			<bean class="com.camut.framework.interceptors.AdminLoginRequiredInterceptor" />
		</mvc:interceptor>
		
		<!-- Mobile consumer authentication required. -->
		<!-- TODO: Update mappings for login functions. -->
		<mvc:interceptor>
			<mvc:mapping path="/api/**" />
			<mvc:mapping path="/api/consumer/**" />
			<bean class="com.camut.framework.interceptors.MobileConsumerLoginRequiredInterceptor" />
		</mvc:interceptor>
		
		<!-- Mobile restaurant authentication required. -->
		<mvc:interceptor>
			<mvc:mapping path="/api/restaurant/**" />
			<bean class="com.camut.framework.interceptors.MobileRestaurantLoginRequiredInterceptor" />
		</mvc:interceptor>
	</mvc:interceptors>

</beans>
