/* CSS Document */
body { font-family:Arial, Helvetica, sans-serif; background:#E1E1E1;}
ul,li { margin:0px; padding:0px; list-style:none;}
a:link {
	 
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	 
}
a:hover {
	text-decoration: none;
	 
}
a:active {
	text-decoration: none;
	 
}
.search_top { background:#606060; height:60px;}
.zuikuan { max-width:1030px; margin: 0px auto; padding:0px 0px;}
.shangbian-10 { padding:5px 0px;}
.search_top_logo { float:left;}
.search_top_Sign { float:right;}
.clear { clear:both;}
.xc-top-login { float:right; color:#FFFFFF; margin-top:10px; padding:5px 10px;}
.xc-top-login  li{ color:#FFFFFF; DISPLAY: block; }
.xc-top-login  li a:link {DISPLAY: block; color:#FFFFFF; FONT-WEIGHT: 900;    COLOR: #fff;  padding:5px 10px; }
.xc-top-login  li a:visited { DISPLAY: block; color:#FFFFFF;  FONT-WEIGHT: 900;  padding:5px 10px; }
.xc-top-login  li a:hover {BACKGROUND: #7fbf2e; color:#FFFFFF;  padding:5px 10px; font-weight:900; DISPLAY: block; -webkit-border-radius: 4px 4px 4px 4px;
-moz-border-radius: 4px 4px 4px 4px;
border-radius: 4px 4px 4px 4px;}
.xc-modal {
position: fixed;
top: 20%;
left: 50%;
z-index: 1050;
width: 250px;
margin-left: -125px;
background-color: #fff;
border: 1px solid #999;
border: 1px solid rgba(0,0,0,0.3);
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
outline: 0;
-webkit-box-shadow: 0 3px 7px rgba(0,0,0,0.3);
-moz-box-shadow: 0 3px 7px rgba(0,0,0,0.3);
box-shadow: 0 3px 7px rgba(0,0,0,0.3);
-webkit-background-clip: padding-box;
-moz-background-clip: padding-box;
background-clip: padding-box;
}
.xc-top-login-in {float:right; color:#FFFFFF; margin-top:10px; padding:5px 10px;}
.xc-top-login-in button { border:1px solid #fff; color:#fff; background:none;}
.bgbai { background:#FFFFFF;}
.bghei { background:#000000;}
.bgsearch_list01 { background:#898989; height:32px; color:#FFFFFF; font-size:16px; font-weight:900; padding:0px 10px 0px 20px;   line-height:32px;}
.bgsearch_list02 { background:#898989; height:32px; color:#FFFFFF; font-size:16px; font-weight:900; padding:0px 10px 0px 20px;   line-height:32px;}
.bgsearch_list03 { background:#898989; height:32px; color:#FFFFFF; font-size:16px; font-weight:900; padding:0px 10px 0px 20px;   line-height:32px;}
.bgsearch_list04 { background:#898989; height:32px; color:#FFFFFF; font-size:16px; font-weight:900; padding:0px 10px 0px 20px;   line-height:32px;}
.bgsearch_list05 { background:#898989; height:32px; color:#FFFFFF; font-size:16px; font-weight:900;   line-height:32px;  }
.bgsearch_list05 span, .bgsearch_list05 a {color:#FFFFFF;}
.bgsearch_list06 { background:#EBECED; height:36px; padding-left:20px; color:#515253; font-size:16px; font-weight:900;   line-height:36px;  }
.bgsearch_list07 { background:#898989; height:54px; padding-left:20px; color:#FFFFFF; font-size:16px; font-weight:900;   line-height:54px;  }
.bgsearch_list08 { background:#EBECED; height:36px; padding-left:20px; color:#515253; font-size:16px; font-weight:900;   line-height:36px;  }
.bgsearch_list09 { padding-left:20px; color:#404040; font-size:16px; font-weight:900; line-height:54px; border:1px #CCCCCC solid; border-left: none; border-right: none;}


.sxmbian { border-bottom:1px #CCCCCC solid; border-top:1px #CCCCCC solid;}

.search_span { padding:0px 4px; border:1px solid #FFFFFF; -webkit-border-radius: 4px 4px 4px 4px;
-moz-border-radius: 4px 4px 4px 4px;
border-radius: 4px 4px 4px 4px; float:right; color:#FFFFFF; font-size:14px; font-weight:100; line-height:18px; margin-top:6px;}
.search_shou { line-height:30px; font-size:16px; font-weight:900; color:#797979; border:1px solid #CBCBCB; border-left:none; border-right:none;}
.search_list-left { width:25.8%; float:left;}
.search_list-right { width:73.6%; float:right;}
.search_list-left-fuxuan li{ margin:10px; color:#595959; font-size:14px; }
.search_list-left-fuxuan label { font-weight:600;}
.search_list-right-top ul{ padding-top:0px;}
.search_list-right-top ul li{ border-right:1px solid #FFFFFF; float:left;  }
.search_list-right-can { color:#706F6F;}
.search_list-right-can ul{ margin-top:2px;}
.search_list-right-can ul li{ width:32%; float:left; margin-right:1%;}
.search_list-right-can img { max-width:100%;}
.search_list-right-can ul li h5{ }
.search_list-right-canshu { margin:0px;}
.search_list-right-canshu dt { float:left; width:30%;  line-height:26px;}
.search_list-right-canshu dd{ float:right; width:65%; line-height:26px;}

.search-bottom { color:#FFFFFF; margin-top:25px; line-height:40px;  font-size:16px; font-weight:900; background:#4a4a4a;}
 
.search-bottom span { color:#77FF69;}

.nav_search>li>a:hover, .nav_search>li>a:focus {
text-decoration: none;
 }
.nav_search>li>a {
position: relative;
display: block;
height:32px;
padding:0 15px;
}

.love-1 { font-size:52px; color:#E88F00;}
.love-2 { font-size:52px; color:#E7E7E7; border:#E88F00}
 

.restaurants_menu-left {  width:67%; background:#ffffff; float:left;}
.restaurants_menu-right {  width:32.8%; border-left:1px solid #6F6F6F; background:#F8F8F8; float:right;}

.rest-xiala { line-height:40px; border:#898989 1px solid; height:40px; border-left: none; border-right: none; color:#000000;}
.rest-xiala li:nth-child(1){ float:left; width:33.3%; text-align:center; font-size:16px; font-weight:900;}
.rest-xiala li:nth-child(2){ float:left; width:33.3%; text-align:center; font-size:16px; font-weight:900;}
.rest-xiala li:nth-child(3){ float:left; width:33.4%; text-align:center; font-size:16px; font-weight:900;}

.rest-xiala >li>a:hover {
text-decoration: none;
 height:40px;
  }
 .rest-xiala >li>a:focus {
 text-decoration: none;
background:#898989;
height:40px;
 color:#ffffff;
 }
.rest-xiala >li>a {
position: relative;
display: block;
height:40px;
color:#323232;
padding:0 15px;
}

.restaurant-menu-list {
	
}

.dish-title {
	color: #515253;
}

.rest-xiala-jg{border-bottom:1px solid #898989;}
.rest-xiala-jg>li{float:left;margin-bottom:-1px}
.rest-xiala-jg>li>a{margin-right:2px; border:1px solid transparent;border-radius:0px 0px 0 0}
.rest-xiala-jg>li>a:hover{ }
.rest-xiala-jg>li.active>a,.rest-xiala-jg>li.active>a:hover,.rest-xiala-jg>li.active>a:focus{color:#fff;cursor:default;background-color:#898989;  height:40px;}

.rest-panel-one { background-color: #EBECED; margin:0; padding:0 15px; line-height:35px; color:#FFFFFF;}
.rest-panel-one a { color:#515253;}
.rest-panel-one span { float:right; padding-top:10px;}
.rest-panel-1 { background-color: #EBECED; margin:0; padding:0 15px; line-height:35px; color:#FFFFFF; border-radius: 4px;}
.rest-panel-1 a { color:#515253;}
.rest-panel-1 span { float:right; padding-top:10px;}
.rest-panel-2 { background:url(../images/restaurst-a-2.jpg); margin:0; padding:0 15px; line-height:53px; color:#FFFFFF; border-radius: 4px;}
.rest-panel-2 a { color:#FFFFFF;}
.rest-panel-2 span { float:right; padding-top:20px;}
.rest-panel-3 { background:url(../images/restaurst-a-3.jpg); margin:0; padding:0 15px; line-height:53px; color:#FFFFFF; border-radius: 4px;}
.rest-panel-3 a { color:#FFFFFF;}
.rest-panel-3 span { float:right; padding-top:20px;}
.rest-panel-4 { background:url(../images/restaurst-a-4.jpg); margin:0; padding:0 15px; line-height:53px; color:#FFFFFF; border-radius: 4px;}
.rest-panel-4 a { color:#FFFFFF;}
.rest-panel-4 span { float:right; padding-top:20px;}
.rest-panel-5 { background:url(../images/restaurst-a-4.jpg); margin:0; padding:0 15px; line-height:53px; color:#FFFFFF; border-radius: 4px; }
.rest-panel-5 a { color:#FFFFFF;}
.rest-panel-5 span { float:right; padding-top:20px;}
.rest-panel-6 { background:url(../images/restaurst-a-4.jpg); margin:0; padding:0 15px; line-height:53px; color:#FFFFFF; border-radius: 4px;}
.rest-panel-6 a { color:#FFFFFF;}
.rest-panel-6 span { float:right; padding-top:20px;}
.rest-panel-7 { background:url(../images/restaurst-a-4.jpg); margin:0; padding:0 15px; line-height:53px; color:#FFFFFF; border-radius: 4px;}
.rest-panel-7 a { color:#FFFFFF;}
.rest-panel-7 span { float:right; padding-top:20px;}
.rest-panel-8 { background:url(../images/restaurst-a-4.jpg); margin:0; padding:0 15px; line-height:53px; color:#FFFFFF; border-radius: 4px;}
.rest-panel-8 a { color:#FFFFFF;}
.rest-panel-8 span { float:right; padding-top:20px;}
.rest-panel-9 { background:url(../images/restaurst-a-4.jpg); margin:0; padding:0 15px; line-height:53px; color:#FFFFFF; border-radius: 4px;}
.rest-panel-9 a { color:#FFFFFF;}
.rest-panel-9 span { float:right; padding-top:20px;}


.rest-miaodi { border-bottom:1px #AAAAAA solid;}
.rest-miaodi-gao { padding:15px 0px; line-height:30px; font-size:16px; font-weight:900; height:60px;}
.rest-leftdi {background:#F8F8F8; border-left:1px #cccccc solid;}
.rest-lef-hua { margin:10px 0; border-top:1px #AAAAAA solid; padding:0 5px;}
.rest-lef-shkuan { margin:10px 0;}
.rest-lef-zykuan { margin:0 10px ;}
.rest-lef-zykuan p { text-align:center;}
.rest-h4 {background:#898989; line-height:40px; color:#FFFFFF;}

.rest-modal-dialog {
width:800px;
margin: 30px auto;
}
.rest-modal-dialog {
position: relative;
z-index: 1050;
width: auto;
margin: 10px;
}
.rest-modal-header {min-height:50px;padding:15px;border-bottom:1px solid #e5e5e5; margin-top:-2px; background:#E1E1E1;}

.zhucyemian-p { font-size:16px; font-weight:900; padding:8px;}
.zhucyemian-sh-10 { margin:5px 0;}
.zhucyemian-miaodi { height:5px; border-bottom:#CCCCCC 1px solid; margin-bottom:5px;}
.zuomian-miaobian { border-left:#CCCCCC solid 1px;}
.youmian-miaobian { border-right:#CCCCCC solid 1px;}
.zuomia-shangnei { padding-top:10px;}


.rest-left-xiala { line-height:30px; height:30px;  color:#000000;}
.rest-left-xiala li { float:left; width:30%; margin-left:2%; text-align:center; font-size:16px; font-weight:100; border:1px solid #323232;
border-radius:5px;}

.rest-left-xiala >li>a:hover {
text-decoration: none;
 height:30px;
  }
.rest-left-xiala >li>a:focus {
 text-decoration: none;
background:#898989;
height:30px;
 color:#ffffff;
 }
.rest-left-xiala >li>a {
position: relative;
display: block;
height:30px;
color:#323232;
 
 
}


.rest-left-xiala-jg{ }
.rest-left-xiala-jg>li{float:left;margin-bottom:-1px}
.rest-left-xiala-jg>li>a{ border:1px solid transparent;border-radius:4px;}
.rest-left-xiala-jg>li>a:hover{ }
.rest-left-xiala-jg>li.active>a,.rest-left-xiala-jg>li.active>a:hover,.rest-left-xiala-jg>li.active>a:focus{color:#fff;cursor:default;background-color:#898989;  height:30px;}

.rest-about li { margin-left:20px; list-style:url(../images/rest-about.jpg);}


.btn-success-hui {
height:40px;
color: #fff;
margin-top:-3px;
border-radius: 4px ;
text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
background-color: #898989;
background-image: -moz-linear-gradient(top,#898989,#A1A1A1);
background-image: -webkit-gradient(linear,0 0,0 100%,from(#898989),to(#A1A1A1));
background-image: -webkit-linear-gradient(top,#898989,#A1A1A1);
background-image: -o-linear-gradient(top,#898989,#A1A1A1);
background-image: linear-gradient(to bottom,#898989,#A1A1A1);
background-repeat: repeat-x;
border-color: #898989 #898989 #A1A1A1;
border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462',endColorstr='#ff51a351',GradientType=0);
filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-success-hui:hover, .btn-success-hui:focus, .btn-success-hui:active, .btn-success-hui.active, .btn-success-hui.disabled, .btn-success-huis[disabled] {
color: #fff;
background-color: #A1A1A1;
}
.btn[name=back-searchlist] {
	background: #898989;
	color: #FFFFFF;
}


.form-control-hui{display:block;width:100%;height:34px;padding:6px 12px;font-size:14px;line-height:1.428571429;color:#fff;vertical-align:middle;background-color:#898989; background-image:none;border:1px solid #ccc;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);-webkit-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s}
.form-control-hui:focus{border-color:#333;outline:0;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6)}
.form-control-hui:-moz-placeholder{color:#999}
.form-control-hui::-moz-placeholder{color:#999;opacity:1}
.form-control-hui:-ms-input-placeholder{color:#999}
.form-control-hui::-webkit-input-placeholder{color:#999}
.form-control-hui[disabled],.form-control-hui[readonly],fieldset[disabled] .form-control-hui{cursor:not-allowed;background-color:#333}




.user-xiala { line-height:40px; height:40px;  color:#000000;}
.user-xiala li { width:100%;  text-align:center; font-size:16px; font-weight:100; border-bottom:1px solid #AAAAAA; padding:5px; }

.user-xiala >li>a:hover {
text-decoration: none;
background:#87888B;
 height:40px;
 
  }
.user-xiala >li>a:focus {
 text-decoration: none;
background:#87888B;
height:40px;
 color:#ffffff;
 }
.user-xiala >li>a {
position: relative;
background:#87888B;

display: block;
height:40px;
color:#ffffff;
 
 
}


.user-xiala-jg{ }
.user-xiala-jg>li{float:left;margin-bottom:-1px}
.user-xiala-jg>li>a{ border:1px solid transparent;border-radius:4px;}
.user-xiala-jg>li>a:hover{ }
.user-xiala-jg>li.active>a,.user-xiala-jg>li.active>a:hover,.user-xiala-jg>li.active>a:focus{color:#8FD549;cursor:default;background-color:#87888B;  height:40px;}


.userpadd { margin:15px; border:1px #CCCCCC solid; padding:10px;}
.userpadd-wubian { margin:15px;  padding:10px;}
.user-anniu { margin-left: 15px;}

.payment-biao { height:45px;}
.payment-zicu { line-height:45px; font-weight:900; font-size:32px;}

.lcx-p-sx { padding:10px 0;}
.lcx-p-zy { padding: 0 10px;}
.lcx-p { padding:15px;}
.lcx-m-sx { margin:10px 0;}
.lcx-m-zy { margin:0 10px;}
.lcx-m { margin:15px;}

.xc-btn-success {
color: #fff;
border-radius:4px;
text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
background-color: #8DD039;
background-image: -moz-linear-gradient(top,#7fbf2e,#69A81A);
background-image: -webkit-gradient(linear,0 0,0 100%,from(#7fbf2e),to(#69A81A));
background-image: -webkit-linear-gradient(top,#7fbf2e,#69A81A);
background-image: -o-linear-gradient(top,#7fbf2e,#69A81A);
background-image: linear-gradient(to bottom,#7fbf2e,#69A81A);
background-repeat: repeat-x;
border-color: #51a351 #51a351 #387038;
border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462',endColorstr='#ff51a351',GradientType=0);
filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.xc-btn-success:hover, .xc-btn-success:focus, .xc-btn-success:active, .xc-btn-success.active, .xc-btn-success.disabled, .xc-btn-success[disabled] {
color: #fff;
background-color: #69A81A;
}

<!--���¹���CSS-->
.scrollbox{width:400px; padding:10px;border:#ccc 1px solid;}
#scrollDiv{width:400px;height:180px; overflow:hidden;}/*����ĸ߶Ⱥͳ��������Ǳ����*/
#scrollDiv li{height:25px;line-height:25px; vertical-align:bottom; zoom:1; border-bottom:#CCC dashed 1px;}
#scrollDiv li a{ color:#333; text-decoration:none;}
#scrollDiv li a:hover{ color:#FF0000; text-decoration:underline;}

.scroltit{ height:26px; line-height:26px; border-bottom:#CCC dashed 1px; padding-bottom:4px; margin-bottom:4px;}
.scroltit h3{ width:100px; float:left;}
.scroltit small{float:right; font-size:13px;}
<!--���¹���CSS-->

<!----------------------------------------------很-长-的-分-割-线-------------------------------------------------------- -->

.cursorPointer{
	cursor:pointer;
}

<!-- 选择几个星后将选中的星变绿色 -->
.ratingMark{ margin:10px; color:#80BF2E; font-size:14px;}



.form-control-hui{
	display:block;
	width:100%;
	height:34px;
	padding:6px 12px;
	font-size:14px;
	line-height:1.428571429;
	color:#fff;
	vertical-align:middle;
	background-color:#898989; 
	background-image:none;
	border:1px solid #ccc;
	border-radius:4px;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s
}
.form-control-hui:focus{
	border-color:#333;
	outline:0;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);
	box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6)
}
#charityButtonArea {
	text-align:center;
}
#charityDisplay button{
	display:inline-block;
	width:45%;
	margin-top:0;
}
.panel-body > .row{
    display:flex;
    flex-wrap:wrap;
}
.col-md-4{
	flex-basis:33%;
}